<div class="wordle" *ngIf="wordLength$ | async as wordLength">
  <div class="wordle-title">Wordle</div>

  <div class="wordle-length-select">
    <ng-container
      *ngFor="let n of maxWordLength - minWordLength + 1 | arrayFromNumber"
    >
      <div
        *ngIf="n + minWordLength as length"
        class="wordle-length-cell"
        [class.selected]="wordLength === length"
        (click)="selectWordLength(length)"
      >
        {{ length }}
      </div>
    </ng-container>
  </div>

  <div class="wordle-cells">
    <div
      class="wordle-row"
      *ngFor="let row of attemptsCount | arrayFromNumber; let rowIndex = index"
    >
      <div
        *ngFor="
          let letter of wordLength | arrayFromNumber;
          let letterIndex = index
        "
        class="wordle-cell"
        [class.cursor]="rowIndex | wordleCursorInCell: letterIndex"
      >
        <div
          class="wordle-cell-content"
          *ngIf="{
            letter: (rowIndex | wordleExtractLetter: letterIndex)
          } as params"
          [class.filled]="rowIndex | wordleCellIsFilled: letterIndex"
          [class.flipped]="rowIndex | wordleRowCanFlip"
          [style.animation-delay]="
            rowIndex | wordleExtractAnimationDelay: letterIndex
          "
        >
          <div class="wordle-cell-front">
            {{ params.letter?.letter }}
          </div>

          <div
            class="wordle-cell-back"
            [class.valid]="params.letter?.type === 'valid'"
            [class.invalid]="params.letter?.type === 'invalid'"
            [class.error]="params.letter?.type === 'error'"
          >
            {{ params.letter?.letter }}
          </div>
        </div>
      </div>

      <div class="wordle-word-hint" *ngIf="!(rowIndex | wordleCheckWordExists)">
        Такого слова нет!
      </div>
    </div>
  </div>

  <div class="wordle-keyboard">
    <div class="wordle-row" *ngFor="let row of WORDLE_KEYBOARD">
      <div
        *ngFor="let key of row"
        (click)="handleKey(key)"
        class="wordle-key"
        [class.wide]="key | wordleKeyIsWide"
        [class.valid]="key | wordleKeyCheckType: 'valid'"
        [class.invalid]="key | wordleKeyCheckType: 'invalid'"
        [class.error]="key | wordleKeyCheckType: 'error'"
      >
        {{ key | wordleExtractKey }}
      </div>
    </div>
  </div>
</div>
