<div class="wordle">
  <div class="wordle-title">Wordle</div>

  <div class="wordle-cells" *ngIf="wordLength$ | async as wordLength">
    <div
      class="wordle-row"
      *ngFor="let row of attemptsCount | arrayFromNumber; let rowIndex = index"
    >
      <div
        *ngFor="
          let letter of wordLength | arrayFromNumber;
          let letterIndex = index
        "
        class="wordle-cell"
        [class.cursor]="rowIndex | wordleCursorInCell: letterIndex"
        [class.filled]="rowIndex | wordleCellIsFilled: letterIndex"
      >
        {{ (rowIndex | wordleExtractWord)?.[letterIndex]?.letter }}
      </div>
    </div>
  </div>

  <div class="wordle-keyboard">
    <div class="wordle-row" *ngFor="let row of WORDLE_KEYBOARD">
      <div
        *ngFor="let key of row"
        (click)="handleKey(key)"
        class="wordle-key"
        [class.wide]="key === 'Backspace' || key === 'Enter'"
      >
        {{ key === "Backspace" ? "⌫" : key }}
      </div>
    </div>
  </div>
</div>
