<script src="services/wordle.service.ts"></script>
<div class="wordle">
  <div class="wordle-title">Wordle</div>

  <div class="wordle-cells" *ngIf="wordLength$ | async as wordLength">
    <div
      class="wordle-row"
      *ngFor="let row of attemptsCount | arrayFromNumber; let rowIndex = index"
    >
      <div
        *ngFor="
          let letter of wordLength | arrayFromNumber;
          let letterIndex = index
        "
        class="wordle-cell"
        [class.cursor]="rowIndex | wordleCursorInCell: letterIndex"
      >
        <div
          class="wordle-cell-content"
          *ngIf="{
            letter: (rowIndex | wordleExtractLetter: letterIndex)
          } as params"
          [class.filled]="rowIndex | wordleCellIsFilled: letterIndex"
          [class.flipped]="rowIndex | wordleRowCanFlip"
          [style.animation-delay]="
            rowIndex | wordleExtractAnimationDelay: letterIndex
          "
        >
          <div class="wordle-cell-front">
            {{ params.letter?.letter }}
          </div>

          <div
            class="wordle-cell-back"
            [class.valid]="params.letter?.type === 'valid'"
            [class.invalid]="params.letter?.type === 'invalid'"
            [class.error]="params.letter?.type === 'error'"
          >
            {{ params.letter?.letter }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wordle-keyboard">
    <div class="wordle-row" *ngFor="let row of WORDLE_KEYBOARD">
      <div
        *ngFor="let key of row"
        (click)="handleKey(key)"
        class="wordle-key"
        [class.wide]="key === 'Backspace' || key === 'Enter'"
      >
        {{ key === "Backspace" ? "⌫" : key }}
      </div>
    </div>
  </div>
</div>
